.col-xs-12
	p Please upload new sample data
	p (it will reset current database)
	span(class="btn btn-file btn-xs no-radius", ng-click="clearInput()")
		input#fileuploader(type="file", nv-file-select, uploader="uploader")
.col-xs-12
	.progress(ng-show="uploader.queue.length")
		.progress-bar(ng-style="{ 'width': uploader.progress + '%' }")
.col-xs-12
	button.btn.btn-success.btn-xs.pull-left(ng-click="uploader.uploadAll()",ng-show="uploader.queue.length", ng-disabled="!uploader.getNotUploadedItems().length") Upload
	button.btn.btn-danger.btn-xs.pull-right(ng-click="uploader.clearQueue()",ng-show="uploader.queue.length", ng-disabled="!uploader.queue.length") Remove