extends layout

block content
	.container(ng-app='indexApp', ng-cloak, ng-controller='appController')
		.row
			growl-notifications
			growl-notification.success(ng-if="successNotify"){{successNotify}}
			growl-notification.error(ng-if="errorNotify"){{errorNotify}}
		.row
			.col-md-8
				include index.orderlist.jade
			.col-md-4
				include index.upload.jade


