#searchbar.row.col-xs-12
	.col-xs-4
		select.form-control(ng-model="filter.company")
			option(value='none') Please select a company
			option(ng-repeat="company in CompanyList", value='{{company}}'){{company}}
	.col-xs-7
		input.form-control(type='text', ng-model="filter.search", placeholder="Please type a particular address")
	.col-xs-1
		button.btn.btn-success(ng-click="searchOrder()") search
#delete_order.row.col-xs-12
	.col-xs-6
		input.form-control.pull-left(style="width:70%", type='text', ng-model="deleteid", placeholder="Type an order id to be delete")
		button.btn.btn-danger.pull-right(ng-click="deleteOrder()") delete
	.col-xs-6
		input(type='checkbox',ng-model="descendingorder")
		span show item in descending order
.col-xs-12
	table.table(ng-hide="descendingorder")
		tr
			th Order Id
			th Company Name
			th Customer Adress
			th Ordered Item
		tr(ng-repeat="order in OrderList")
			td {{order.orderId}}
			td {{order.companyName}}
			td {{order.customerAdress}}
			td {{order.orderedItem}}
	table.table(ng-show="descendingorder")
		tr
			th Ordered Item
			th Count
			th Companies
		tr(ng-repeat="order in OrderCountList")
			td {{order._id}}
			td {{order.count}}
			td {{order.companyNames | toString}}
.col-xs-12(ng-hide="descendingorder")
	pagination(items-per-page="itemsPerPage", total-items="totalOrderItems", ng-model="filter.page", max-size="maxSize", class="pagination-sm", boundary-links="true", ng-change="selectOrderPage()", next-text=">", previous-text="<", first-text="<<", last-text=">>")
