doctype html
html
  head
    title= title
    script(type='text/javascript' src='javascripts/core.min.js')
    script(type='text/javascript' src='javascripts/test.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content