body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.row
{
	margin-bottom: 20px;
}
growl-notifications{
  position: fixed;
  top: 150px;
  right: 10px;
  z-index: 1000;
}
growl-notification.success{
  background-color: #2f9c0a;
  color: white;
  padding: 15px;
  min-width: 200px;
  display: block;
  border-radius: 2px;
}
growl-notification.error{
  background-color: #d9534f;
  color: white;
  padding: 15px;
  min-width: 200px;
  display: block;
  border-radius: 2px;
}